<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.flatandflatmates" >

    <!-- Permission - Internet Connect -->
    <permission
        android:name="com.flatandflatmates.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.flatandflatmates.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--
         The following two permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".init.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/API_KEY" />

        <activity
            android:name=".init.MenuActivity"
            android:label="@string/title_activity_menu" />
        <activity
            android:name=".init.NavigationDrawerClickHandleActivity"
            android:label="@string/title_activity_navigation_drawer" />
        <activity
            android:name=".host.HostPropertyOptionsClickActivity"
            android:label="@string/title_activity_host_options_click" />
        <activity
            android:name=".GoogleMaps.GoogleMapsActivity"
            android:label="@string/title_activity_host_options_click"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <action android:name="com.flatandflatmate.intent.action.FLATMATE_DETAILS" />
                <action android:name="com.flatandflatmate.intent.action.PG_DETAILS" />
                <action android:name="com.flatandflatmate.intent.action.ROOM_DETAILS" />
                <action android:name="com.flatandflatmate.intent.action.FLAT_DETAILS" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".host.HostPropertyAddress"
            android:label="@string/title_activity_host_property_address" />
        <activity
            android:name=".host.HostPropertyOwnerPreferences"
            android:label="@string/title_activity_host_property_owner_preferences" />
    </application>

</manifest>
